@import '../../Styles/mixins';

* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    background-image: url('../../images/background12.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;

    input {
        margin: 20px auto;
        display: block;
        width: 50%;
        padding: 8px;
        border: 1px solid grey;
        position: relative;
        top: 60px;
        width: 350px;
        height: 40px;
        font-size: 15px;
        font-weight: 50;
        outline-color: #f7c8c8;
    }

    button{
        display: block;
        margin: 20px;
    }

    .login-button {
        width: 350px;
        height: 40px;
        border: none;
        // background-color: #024a4f;
        // background-color: #c20c0c;
        background-color: black;
        color: white;
        cursor: pointer;
        position: relative;
        top: 51px;
        left: 436px;
        transition: 0.4s;
        font-weight: bold;
        font-family: sans-serif;
        text-decoration: none!important;
    }

    .login-button:hover {
        // background-color: #00292b;
        background-color: #4a0d0d;
    }

    .signup-button {
        height: 400px;
        padding: 8px;
        padding-left: 95px;
        padding-right: 95px;
        border: 2px solid #7a0404;
        border-radius: 60px;
        background-color: #FFFFFF;
        width: 350px;
        color: #7a0404;
        cursor: pointer;
        position: relative;
        top: 51px;
        left: 615px;
        transition: 0.4s;
        font-weight: 100;
        font-family: sans-serif;
    }

    .signup-button:hover {
        // background-color: #ccece4;
        background-color: #f7c8c8;
    }

    .button-div {
        position: relative;
        left: -435px;
        top: 13px;
    }
    
    .container-div {
        width: 700px;
        height: 450px;
        background: inherit;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%);

        .login-signup-div {
            display: grid;
        }
    }

    .container-div::before {
        width: 750px;
        height: 500px;
        content: '';
        position: absolute;
        top: -25px;
        left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
        filter: blur(10px);
    }
}